h1, h2 {
    margin-top: 20px;
    margin-left: 25px;
}

h1 {
    font-size: 300%;
    font-weight: bold;
}

h2 {
    margin-bottom: 40px;
    font-style: italic;
}

h1, h2, h3 {
    color: #fda8d2;
}

h3, p {
    margin-top: 20px;
    margin-left: 50px;
    width: 75%;
}

hr {
    margin: 40px;
    border: 0;
    border-top: 2px solid #fda8d2;
  }